<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipe.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='raw-image/home.png') }}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/deleted_recipe_search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dynamic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/massRecover.js') }}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Deleted Recipes{% endblock %}

    {% block content %}
<main class="table">
     <section class="table-header">
         <h1>deleted Recipes</h1>

         <div class="mass-action">
             <button id="mass-recover-button" style="display: none;">Recover</button>
             <button id="select-all-button" style="display: none;">Select All</button>
         </div>

            <div class="search-container">
                <select id="columnSelector">
                    <option value="all">Search All</option>
                    <option value="recipe_id">ID</option>
                    <option value="name">Recipe Name</option>
                    <option value="account_id">Account ID</option>
                    <option value="account_username">Account Username</option>
                    <option value="deleted_at">delete at</option>
                    <option value="status">Status</option>
                    <option value="status_changed_at">status change at</option>
                </select>
                <input type="text" id="search-Input-recipe" class="search-bar" placeholder="Search Recipe">
                <button class="refresh-button" onclick="refreshSearch()"><i class='bx bx-refresh'></i></button>
            </div>
     </section>

     <section class="table-body">
            <!-- table section  -->
            {% if not deleted_recipes %}
            <h1 class="no-recipe">No data deleted</h1>
            {% endif %}
            <table class="recipes-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Recipe</th>
                        <th>Account ID </th>
                        <th>Account username </th>
                        <th>is deleted</th>
                        <th>deleted at</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in deleted_recipes %}
                        <tr>
                            <td>
                                <input type="checkbox" name="checkbox" class="checkbox" id="checkbox-{{ recipe.recipe_id }}">
                            </td>
                            <td>{{ recipe.recipe_id }}</td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} Image" loading="lazy" style="margin-right: 10px;">
                                    <p>{{ recipe.name }}</p>
                                </div>
                            </td>
                            <td>{{ recipe.account_id }}</td>
                            <td>{{ recipe.account.username }}</td>
                            <td>{{ recipe.is_deleted }}</td>
                            <td>
                                {% if recipe.deleted_at %}
                                {{ recipe.deleted_at.strftime("%B %d, %Y at %I:%M:%S %p") }}
                                {% else %}
                                N/a
                                {% endif %}
                            </td>
                            <td>
                                <p class="status {{ recipe.status }}">
                                {{ recipe.status }}
                                </p>
                            </td>
                            <td>
                                <form method="POST" action="{{ url_for('edit_controller.recover_recipe', id=recipe.recipe_id) }}">
                                    <button class="btn recover-recipe-btn" type="button" data-recipe-id="{{ recipe.recipe_id }}"><i class='bx bx-revision' title="recover"></i></button>
                                <a href="{{ url_for('dashboard_controller.recipe_preview', recipe_id=recipe.recipe_id) }}" class="btn edit-button">
                                    <i class='bx bxs-edit' title="preview and change status"></i>
                                </a>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
     </section>
</main>

    {% if recover_recipe %}
        <script>
            swal("Success", "{{ recover_recipe }}", "success");
        </script>
    {% endif %}
    
    {% endblock %}
</body>
</html>
