<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Recipe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_recipes.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='raw-image/home.png') }}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

{% if user.type == 'admin' %}
    {% extends 'base.html' %}
    {% block title %}Edit Recipe{% endblock %}
{% endif %}
    {% block content %}

    <h1>Edit Recipe</h1>

    <form method="POST" action="/edit_recipe/{{ id }}" enctype="multipart/form-data" onsubmit="return confirmEditRecipe();">
        <h2>{{ recipe.name }}</h2>
        <div class="form-group">
            <label for="is_deleted">Is Deleted:</label>
            <select id="is_deleted" name="is_deleted" required class="is_deleted">
                <option value="1" {% if recipe.is_deleted %}selected{% endif %}>True</option>
                <option value="0" {% if not recipe.is_deleted %}selected{% endif %}>False</option>
            </select>
        </div>
        <button type="submit" onclick="return confirm('Are you sure you want keep changes??')">Update Recipe</button>
        <a href="/recipes" class="button-link">Back</a>
    </form>
    {% endblock %}
</body>
</html>

