<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ url_for('static', filename='raw-image/home.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="{{ url_for('static', filename='js/showPassword.js') }}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Log in</title>

</head>
<body>
    <div class="wrapper">
        <div class="login-box">
            <div class="login-header">
                <span>login</span>
            </div>
            <form action="/login" method="POST" id="login-form">

                <div class="input-box">
                    <input type="text" name="username" id="username" class="input-field" required>
                    <label for="username" class="label">Username</label>
                    <i class="bx bx-user icon"></i>
                </div>

                <div class="input-box">
                    <input type="password" name="password" id="password" class="input-field" required>
                    <label for="password" class="label">Password</label>
                    <i class="bx bx-lock-alt icon"></i>
                </div>
                <div class="show-password">
                    <div class="show">
                        <input type="checkbox" onclick="myFunction()">
                        <label for="show">Show password </label>
                    </div>
                    <div class="forgot">
                        <a href="#">Forgot password</a>
                    </div>
                </div>
                <div class="input-box">
                    <input type="submit" value="login" class="input-submit">
                </div>

            </form>
            <div class="register">
                <span>Don't have an account?
                     <a href="/register">Register</a>
                </span>
            </div>
        </div>
    </div>
    {% if error %}
        <script>
            swal("Error", "{{ error }}", "error");
        </script>
    {% endif %}

    {% if success %}
    <script>
        swal("Success", "{{ success }}", "success");
    </script>
    {% endif %}

</body>
</html>






