<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipe_preview.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='raw-image/home.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
</head>
<body>
    <h1>PREVIEW</h1>
    <div class="container">
        <div class="recipe-name">
            <p>{{ recipe.name }}</p>
            <p class="recipe-status {% if recipe.status == 'declined' %}red-text{% elif recipe.status == 'approved' %}green-text{% elif recipe.status == 'pending' %}blue-text{% endif %}">
            status: {{ recipe.status }}
             {% if recipe.status == 'pending'%}
                    (not ready to be displayed)
             {% elif recipe.status == 'declined' %}
                    (Recipe has been declined)
             {% endif %}
            </p>
            <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} Image" style="width: 60%; height: 60%;" loading="lazy">
        </div>
        <div class="recipe_instruction">
            <pre class="form-control" id="instructions"  >{{ recipe.instructions }}</pre>
        </div>
        <!-- Form for changing status -->
        <form id="changeStatusForm" method="POST" action="{{ url_for('edit_controller.change_status', recipe_id=recipe.recipe_id) }}">
            <!-- Hidden input field to store the selected status -->
            <input type="hidden" name="new_status" id="new_status" value="">
            <!-- Buttons for changing status -->

            <div class="btn-horizontal">
                {% if user.type == 'admin' and not recipe.is_deleted %}
                <button type="button" onclick="if(confirm('re you sure you want to set status to approved?')) { changeStatus('approved'); }">Approved</button>
                <button type="button" class="pending" onclick="if(confirm('Are you sure you want to set status to pending?')) { changeStatus('pending'); }">Pending</button>
                <button type="button" class="decline" onclick="if(confirm('Are you sure you want to set status to decline?')) { changeStatus('declined'); }">Decline</button>
                {% endif %}
            </div>
            {% if recipe.is_deleted %}
                <h1 class="deleted-mark">recipe has been soft deleted status cannot be altered</h1>
            {% endif %}
        </form>
    </div>


</body>
</html>

