<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe and Ingredients</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipe_ingredients.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='raw-image/home.png') }}" type="image/x-icon">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/search_recipe_ingredient.js') }}"></script>
</head>
<body>
  {% extends 'base.html' %}
  {% block title %}Recipe and Ingredients{% endblock %}
  {% block content %}

    <main class="table">
        <section class="table-header">
            <h1>Recipe Ingredients</h1>

            <div class="Overlay" id="Overlay" onclick="closePopup()"></div>
            <div class="Popup" id="Popup">
                <fieldset class="connect-form-container">
                  <legend>Connect Recipe and Ingredient</legend>
                  <form method="POST" action="/connect_recipe_ingredient">
                    <label for="recipe_id">Select Recipe:</label>
                    <select id="recipe_id" name="recipe_id">
                      {% for recipe in recipes %}
                        {% if recipe.status == 'approved' and not recipe.is_deleted %}
                      <option value="{{ recipe.recipe_id }}">{{ recipe.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>

                    <label for="ingredient_id">Select Ingredient:</label>
                    <select id="ingredient_id" name="ingredient_id">
                      {% for ingredient in ingredients %}
                      <option value="{{ ingredient.ingredient_id }}">{{ ingredient.name }}</option>
                      {% endfor %}
                    </select>
                    <button type="submit">Connect</button>

                  </form>
                </fieldset>
                <div onclick="closePopup()" class="close-btn">
                    <i class='bx bx-x'></i>
                </div>
            </div>

            <div class="search-container">
                <select id="columnSelector">
                    <option value="all">Search All</option>
                    <option value="recipe_id">Recipe ID</option>
                    <option value="recipe_name">Recipe Name</option>
                    <option value="ingredient_id">Ingredient ID</option>
                    <option value="ingredient_name">Ingredient Name</option>
                </select>
                <input type="text" id="searchInput" class="search-bar" placeholder="Search Recipe and Ingredients">
                <button class="refresh-button" onclick="refreshSearch()"><i class='bx bx-refresh'></i></button>
                <button class="openPopup-btn" onclick="openPopup()"><i class='bx bx-plus-medical'></i></button>
            </div>

        </section>
        <section class="table-body">
            <table>
                <thead>
                    <tr>
                        <th>Recipe Name</th>
                        <th>Recipe Image</th>
                        <th>Recipe ID</th>
                        <th>Ingredient Name</th>
                        <th>Ingredient ID</th>
                        <th>Action</th>
                      </tr>
                </thead>
                <tbody>
                    {% for recipe_ingredient in recipe_ingredients|sort(attribute='recipe.recipe_id') %}
                    <tr>
                      <td>{{ recipe_ingredient.recipe.name }}</td>
                      <td><img src="{{ recipe_ingredient.recipe.image_url }}" alt="{{ recipe_ingredient.recipe.name }} Image" style="width: 100px; height: 100px;" loading="lazy"></td>
                      <td>{{ recipe_ingredient.recipe.recipe_id }}</td>
                      <td>{{ recipe_ingredient.ingredient.name }}</td>
                      <td>{{ recipe_ingredient.ingredient.ingredient_id }}</td>
                      <td>
                        <form method="POST" action="/disconnect_recipe_ingredient/{{ recipe_ingredient.recipe.recipe_id }}/{{ recipe_ingredient.ingredient.ingredient_id }}" onsubmit="return confirmDisconnect();">
                          <input type="hidden" name="recipe_id" value="{{ recipe_ingredient.recipe.recipe_id }}">
                          <input type="hidden" name="ingredient_id" value="{{ recipe_ingredient.ingredient.ingredient_id }}">
                          <button type="submit" class="disconnect-button" onclick="return confirm('Are you sure you want to disconnect?')">Disconnect</button>
                        </form>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>


  {% endblock %}
</body>
</html>


