<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipe.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='raw-image/home.png') }}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/search_recipe.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dynamic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/massDeletionRecipe.js') }}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



</head>
<body>

    {% extends 'base.html' %}

    {% block title %}Deleted Recipes{% endblock %}

    {% block content %}

<main class="table">
    <section class="table-header">
        <h1>Added Recipes</h1>
             <!-- add recipe -->
	    <div class="Overlay" id="Overlay" onclick="closePopup()"></div>
            <div class="Popup" id="Popup">
                <form method="POST" action="/add_recipe_admin" enctype="multipart/form-data" class="form-recipe">
                    <!-- Form for adding a new recipe -->
                    <label for="recipe_name">Name:</label>
                    <input type="text" id="recipe_name" name="recipe_name" class="name-form" required>

                    <label for="instructions">Instructions:</label>
                    <textarea id="instructions" name="instructions" rows="4" class="text-area-form" required></textarea>
                    
                    <div class="buttons">
                        <div class="btn-img">
                            <label for="image_file">
                                <i class='bx bx-image-add'></i>
                            </label>

                            <input type="file" id="image_file" name="image_file" accept="image/*" required style="display: none;">
                            
                            <div>
                                Add Image
                            </div>

                            <div id="file-error" style="display: none; color: red;">
                                <p>Image file is required.</p>
                            </div>

                        </div>
                        
                        <div class="add-btn">  
                            <button type="submit"  id="submit-button">Add Recipe</button>
                        </div>  
                    </div>
                </form>
                <div onclick="closePopup()" class="close-btn">
                    <i class='bx bx-x'></i>
                </div>
            </div>
        	    <!-- search container -->
                 <div class="mass-action">
                    <button class="mass-delete-btn" id="delete-selected-btn" style="display: none;" title="Delete Selected" type="button">
                    Delete
                    </button>
                    <button id="select-all-button" style="display: none;">Select All</button>
                </div>
            <div class="search-container">
                <select id="columnSelector">
                    <option value="all">Search All</option>
                    <option value="recipe_id">ID</option>
                    <option value="name">Recipe Name</option>
                    <option value="account_id">added by ID</option>
                    <option value="account_username">added by name</option>
                    <option value="created_at">create at</option>
                    <option value="recovered_by_id">recovered by id</option>
                    <option value="recovered_by_username">recovered by username</option>
                    <option value="recovered_at">recovered at</option>
                    <option value="status">Status</option>
                    <option value="status_changed_by_id">Status by id</option>
                    <option value="status_changed_by_username">Status by username</option>
                    <option value="status_changed_at">status change at</option>
                </select>
                <input type="text" id="search-Input-recipe" class="search-bar" placeholder="Search Recipe">
                <button class="refresh-button" onclick="refreshSearch()"><i class='bx bx-refresh'></i></button>
                <button class="openPopup-btn" onclick="openPopup()"><i class='bx bx-plus-medical' title="add recipe"></i></button>
                <a href="deleted_recipes" class="recently-deleted"><i class='bx bxs-trash'></i> Recently Deleted</a>
            </div>


    </section>
    <section class="table-body">
            <!-- tables -->
            {% if not recipes %}
                <h1>No recipes available</h1>
            {% endif %}
            <table class="recipes-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Recipe</th>
                        <th>Added By </th>
                        <th>Created at</th>
                        <th>recovered by</th>
                        <th>recovered at</th>
                        <th>Status</th>
                        <th>status change by </th>
                        <th>status change at</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                    <tr>
                        <td>
                            <input type="checkbox" name="checkbox" class="checkbox" id="checkbox-{{ recipe.recipe_id }}">
                        </td>
                        <td>
                            <a href="{{url_for('user_end_controller.recipe_instruction', recipe_id=recipe.recipe_id)}}">
                                {{ recipe.recipe_id }}
                            </a>
                        </td>
                        <td>
                            <div style="display: flex; align-items: center;">
                                <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} Image" loading="lazy" style="margin-right: 10px;">
                                <p>{{ recipe.name }}</p>
                            </div>
                        </td>
                        <td>
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <p>&#40;{{recipe.account.id}}&#41;</p>
                                <p>{{ recipe.account.username}}</p>
                            </div>
                        </td>
                        <td>{{ recipe.created_at.strftime("%B %d, %Y at %I:%M:%S %p") }}</td>
                        <td>
                            <div style="display: flex; flex-direction: column; align-items: center; ">
                                {% if recipe.recovered_at %}
                                <p>&#40;{{recipe.recoverer.id}}&#41;</p>
                                <p>{{ recipe.recoverer.username}}</p>
                                {% else %}
                                N/A
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            {% if recipe.recovered_at %}
                            {{ recipe.recovered_at.strftime("%B %d, %Y at %I:%M:%S %p") }}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <td>
                            <p class="status {{ recipe.status }}">
                                {{ recipe.status }}
                            </p>
                        </td>
                        <td>
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                {% if recipe.status_changed_at%}
                                <p>&#40;{{recipe.status_changer.id}}&#41;</p>
                                <p>{{recipe.status_changer.username}}</p>
                                {% else %}
                                N/A
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            {% if recipe.status_changed_at %}
                            {{ recipe.status_changed_at.strftime("%B %d, %Y at %I:%M:%S %p") }}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <td>
                             <form method="post" action="{{ url_for('delete_controller.delete_recipe_admin', id=recipe.recipe_id) }}" class="delete-form" type="submit">
                                 <div class="action-btn">
                                    <button class="btn btn-danger delete-recipe-btn"
                                            data-recipe-id="{{ recipe.recipe_id }}"
                                            title="Delete Recipe"
                                            type="button">
                                        <i class='bx bxs-trash'></i>
                                    </button>
                                    <a href="{{ url_for('dashboard_controller.recipe_preview', recipe_id=recipe.recipe_id) }}" class="btn edit-button">
                                        <i class='bx bxs-edit' title="preview and change status"></i>
                                    </a>
                                 </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>



    <!-- alerts using swal -->
    {% if notif %}
    <script>
        swal("{{ notif[0] }}", "{{ notif[1] }}", "{{ notif[2] }}");
    </script>
    {% endif %}

    {% if harmful_array %}
    <script>
        swal("harmful", "{{ harmful_array }}", "info");
    </script>
    {% endif %}
    
    <script type="text/javascript">
        var userId = "{{ session['user_id'] }}";  // Get the user's ID from the session
    </script>
{% endblock %}
</body>

</html>



