body {
    background-color: #f8f9fa;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Add this line */
}

.error-message {
    color: red;
}

.button-container {
    text-align: center;
}

.button-link {
    color: #007bff;
}

.back-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.back-btn i {
    font-size: 64px;

}
