/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
legend h1 {
  color: black !important;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 20px;
}

.recipe-ingredient-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.recipe-ingredient-table th,
.recipe-ingredient-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.recipe-ingredient-table th {
  background-color: #333;
}
thead {
    background-color: #333;
    color: #fff	;
    position: sticky;
    top: 0;
}
.recipe-ingredient-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.disconnect-button {
  background-color: #ff4136;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.disconnect-button:hover {
  background-color: #d63230;
}

.connect-form-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.connect-form-container legend {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.connect-form-container form {
  display: flex;
  flex-direction: column;
}

.connect-form-container label {
  margin-bottom: 10px;
  font-weight: bold;
}

.connect-form-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.connect-form-container button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.connect-form-container button:hover {
  background-color: #0056b3;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 500px;
    margin-bottom: 1%;
}

#columnSelector {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 1%;
}

#searchButton {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 1%;
}
.openPopup-btn {
    padding: 5px 10px;
    background-color: #2F539B;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 1%;
    margin-bottom: 1%;

}








.Overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.Popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 40%;
    height: 65%;
}
.close-btn{
	position: absolute;
	top: 0;
	right: 10px;
}
.close-btn i {
    font-size: 44px;
}













