body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-name {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-name p {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.recipe_instruction {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.recipe_instruction pre {
    font-size: 16px;
    white-space: pre-wrap;
    margin: 0;
}
/* Add this to your recipe_preview.css file */

.container {
    text-align: left;
}

button {
    display: block;
    margin: 10px auto; /* Set top and bottom margin to 10px, and left and right margin to auto */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #4CAF50; /* Green for Approved */
    color: white;
}

button[type="button"]:hover {
    background-color: #45a049;
}

button[type="submit"] {
    background-color: #008CBA; /* Blue for Submit */
    color: white;
}

button[type="submit"]:hover {
    background-color: #0077A3;
}

/* Change the background color for the "Decline" button */
button.decline {
    background-color: #d9534f; /* Red for Decline */
    color: white;
}

button.decline:hover {
    background-color: #c9302c;
}

button.pending {
    background-color: #0000FF; /* Red for Decline */
    color: white;
}

button.pending:hover {
    background-color: #7393B3;
}

/* Add this to your recipe_preview.css file */

.container {
    text-align: left;
}
.container .red-text {
    color: red;
}

.container .green-text {
    color: green;
}

.container .blue-text {
    color: blue;
}


btn-horizontal {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
}

button {
    display: inline-block;
}