body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    padding-top: 5%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo-link {
    text-align: center;
    margin-bottom: 20px;
}

.logo-image {
    width: 200px;
    height: 80px;
}

.search-bar {
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.recipe-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    position: relative;
    width: 300px;
    height: 340px;
    margin: 20px;
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.recipe-card i.bx-heart-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 44px;
    color: #000000;
    transition: color 0.2s ease;
}

.recipe-card i.bx-heart-circle:hover {
    color: #c0392b;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.recipe-details {
    position: relative;
    height: 40%;
}

.recipe-details h2 {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

.button {
    position: absolute;
    bottom: -11px; /* Adjust the margin from the bottom */
    width: 100%;
    text-align: center;
}


.view-recipe{
    display: block;
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}
.star-rating {
    display: block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}

.view-recipe:hover,
.star-rating:hover {
    background-color: #c0392b;
}




@media screen and (max-width: 1140px) {
    .search-bar {
        width: 80%;
    }

    .recipe-card {
        width: 80%;
        margin: 20px auto;
    }

    .logo-link {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .search-bar {
        width: 80%;
    }

    .recipe-card {
        width: 80%;
        margin: 20px auto;
    }

    .logo-link {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

