

label {
    display: block;
    margin-bottom: 5px;
}

.text-area-form {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 60% ;
}
.name-form {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type="submit"] {
    background-color: #5bc0de;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #46b8da;
}


.recipes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.recipes-table th,
.recipes-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.recipes-table th {
    background-color: #333;
    font-weight: bold;
}
thead {
    color: #fff	;
    position: sticky;
    top: 0;
}
.recipes-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.recipes-table .btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

.recipes-table .btn.delete-button {
    background-color: #ff6b6b;
    color: #fff;
}

.recipes-table .btn.edit-button {
    background-color: #007bff;
    color: #fff;
}

.recipes-table .btn:hover {
    filter: brightness(1.2);
}

.recipes-table td:nth-child(3) {
    padding-right: 20px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.recipes-table td:nth-child(3) div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 500px;

}

#columnSelector {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

#searchButton {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;

}

.Overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.Popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 28%;
    height: 65%;
}





.editOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.editPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 28%;
    height: 65%;
}


.close-btn{
	position: absolute;
	top: 0;
	right: 10px;
}

.close-btn i {
    font-size: 44px;
}

.openPopup-btn{
    padding: 5px 10px;
    background-color: #2F539B;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 1%;
}






















/* Overlay Styles */
.Overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Modal Styles */
.Modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* Styles for the close button inside the modal */
.Modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

button.change-status {
}



/* Change Status Modal */
#ChangeStatusModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust the width as needed */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}

#ChangeStatusModal h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

#ChangeStatusModal p {
    margin: 0;
}

#ChangeStatusModal img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

#ChangeStatusModal .recipe-name {
    font-weight: bold;
    margin-bottom: 10px;
}

#ChangeStatusModal .form-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#ChangeStatusModal .status-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
}

#ChangeStatusModal .status-button:hover {
    background-color: #45a049;
}

#ChangeStatusModal .btn-info {
    background-color: #5bc0de;
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
}

#ChangeStatusModal .btn-info:hover {
    background-color: #46b8da;
}

#ChangeStatusModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
    color: #888;
}

#ChangeStatusOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}










