ul.recipe-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    height: 300px; /* Set a fixed height */

}



.recipe-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin: 20px;
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.recipe-card i.bx-heart-circle {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    font-size: 44px; /* Adjust as needed */
    color: #000000; /* Adjust as needed */
    transition: color 0.2s ease; /* Add a smooth transition effect */
}

.recipe-card i.bx-heart-circle:hover {
    color: #ff5733; /* Adjust as needed for the hover color */
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-card img {
    width: 298px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recipe-card .recipe-details {
    padding: 10px;
}

.recipe-card h2 {
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: center
}

.recipe-card p {
    font-size: 16px;
    color: #555;
}

.recipe-card a view-recipe  {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
}


.recipe-card a:hover {
    background-color: #ff3300;
}
.search-bar {
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.h1-center {
    text-align: center;
}


.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 1%;
}

.logo-image {
    width: 100px;
    height: 40px;
}
.view-recipe {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
}
.star-rating {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
}



