       .recipe-card {
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        .recipe-card img {
            width: 100%;
            height: auto;
            border-radius: 8px 8px 0 0;
        }

        .recipe-card-body {
            padding: 15px;
        }

        .buttons {
            margin-top: 10px;
        }

        .star-new-rating {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffc107; /* Star color */
        }

        .star-new-rating i {
            margin-right: 5px;
        }