* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

nav {
    height: 80px;
    background-color: #EE4B2B;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav h1 {
    font-size: 28px;
    margin-bottom: 10px;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff5733;
}

.logo-image {
    width: 100px;
    height: 40px;

}

}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff5733;
    min-width: 160px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #ff3300;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.search-bar {
    display: block;
    margin: 10px auto 10px;
    text-align: center;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
