

/* Recipe cards styles */
/* Recipe cards styles */
.recipe-list {
    list-style-type: none;
    display: flex;
    justify-content: right;
    padding: 100px;
}

.recipe-card {
    width: 300px;
    height: 400px; /* Set a fixed height here */
    margin: 20px;
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-card img {
    width: 298px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recipe-card .recipe-details {
    padding: 10px;
    flex: 1; /* Allow the details section to expand to fill the card height */
}

.recipe-card h2 {
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.recipe-card p {
    font-size: 16px;
    color: #555;
}

.view-recipe {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
}



.recipe-card a:hover {
    background-color: #ff3300;
}



.content {
    margin-top: 40px; /* Add margin-top to create space below the fixed navigation bar */
    padding: 20px; /* Add padding for content */
}
.recipe-card .recipe-details {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align the content to the bottom of the card */
}
.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 80px;
    margin-top: 260px;
}

.welcome {
    margin-top: 10px; /* I-adjust ang margin-top kung kinakailangan */
    font-size:30px;
    margin-right:40px;
}



