<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipe.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='recipes-img-table/recipes.png') }}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/deleted_recipe_search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dynamic.js') }}"></script>
        <script src="{{ url_for('static', filename='js/massRecover.js') }}"></script>


</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Deleted Recipes{% endblock %}

    {% block content %}
        <fieldset>
            <legend><h1>Deleted Recipes</h1></legend>

            <div class="search-container">
                <select id="columnSelector">
                    <option value="all">Search All</option>
                    <option value="recipe_id">ID</option>
                    <option value="name">Recipe Name</option>
                    <option value="account_id">Account ID</option>
                    <option value="account_username">Account Username</option>
                    <option value="deleted_at">delete at</option>
                    <option value="status">Status</option>
                    <option value="status_changed_at">status change at</option>
                </select>
                <input type="text" id="search-Input-recipe" class="search-bar" placeholder="Search Recipe">
                <button class="refresh-button" onclick="refreshSearch()"><i class='bx bx-refresh'></i></button>
            </div>

            <button id="mass-recover-button" style="display: none;">Mass Recover</button>
            <button id="select-all-button" style="display: none;">Select All</button>

            <table class="recipes-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Recipe name</th>
                        <th>Image</th>
                        <th>Account ID </th>
                        <th>Account username </th>
                        <th>is deleted</th>
                        <th>deleted at</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in deleted_recipes %}
                        <tr>
                            <td>
                                <input type="checkbox" name="checkbox" class="checkbox" id="checkbox-{{ recipe.recipe_id }}">
                            </td>
                            <td>{{ recipe.recipe_id }}</td>
                            <td>{{ recipe.name }}</td>
                            <td>
                                <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} Image" style="width: 100px; height: 100px;" loading="lazy">
                            </td>
                            <td>{{ recipe.account_id }}</td>
                            <td>{{ recipe.account.username }}</td>
                            <td>{{ recipe.is_deleted }}</td>
                            <td>{{ recipe.deleted_at }}</td>
                            <td>{{ recipe.status }}</td>
                            <td>
                                <form method="POST" action="{{ url_for('edit_controller.recover_recipe', id=recipe.recipe_id) }}">
                                    <button class="btn recover-recipe-btn" type="button" data-recipe-id="{{ recipe.recipe_id }}">Recover</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    {% endblock %}
</body>
</html>
