<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Ingredient</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_ingredients.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img-db/recipes.png') }}" type="image/x-icon">

</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Edit Ingredient{% endblock %}

    {% block content %}
    <h1>Edit Ingredient</h1>
    <form method="POST" action="/edit_ingredient/{{ id }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ ingredient.name }}" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required>{{ ingredient.description }}</textarea>

        <button type="submit">Update Ingredient</button>
        <a href="/ingredients" class="button-link">Back to Ingredients</a>

    </form>
    {% endblock %}
</body>
</html>
