<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="POST" action="/edit_recipe/{{ id }}" enctype="multipart/form-data" onsubmit="return confirmEditRecipe();">

        <label for="recipe_name">Name:</label>
        <input type="text" id="recipe_name" name="recipe_name" value="{{ recipe.name }}" required>

        <label for="instructions">Instructions:</label>
        <textarea id="instructions" name="instructions" rows="4" required>{{ recipe.instructions }}</textarea>

        <div class="form-group">
            <label for="is_deleted">Is Deleted:</label>
            <select id="is_deleted" name="is_deleted" required class="is_deleted">
                <option value="1" {% if recipe.is_deleted %}selected{% endif %}>True</option>
                <option value="0" {% if not recipe.is_deleted %}selected{% endif %}>False</option>
            </select>
        </div>

        <label for="image_file">Image File:</label>
        <input type="file" id="image_file" name="image_file" accept="image/*">  <!-- Use this input field for uploading an image file -->

        <button type="submit" onclick="return confirm('Are you sure you want keep changes??')">Update Recipe</button>
        <a href="/recipes" class="button-link">Back to Recipes</a>
    </form>
</body>
</html>