<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipe.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='recipes-img-table/recipes.png') }}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/search_recipe.js') }}"></script>

</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Recipes{% endblock %}

    {% block content %}
    <fieldset>
        <legend><h1>Recipes</h1></legend>

        <div class="Overlay" id="Overlay" onclick="closePopup()"></div>
        <div class="Popup" id="Popup">
            <form method="POST" action="/add_recipe" enctype="multipart/form-data" class="form-recipe">
                <!-- Form for adding a new recipe -->
                <label for="recipe_name">Name:</label>
                <input type="text" id="recipe_name" name="recipe_name" class="name-form" required>

                <label for="instructions">Instructions:</label>
                <textarea id="instructions" name="instructions" rows="4" class="text-area-form" required></textarea>

                <label for="image_file">Image File:</label>
                <input type="file" id="image_file" name="image_file" accept="image/*" required>

                <button type="submit">Add Recipe</button>
            </form>

            <div onclick="closePopup()" class="close-btn">
                <i class='bx bx-arrow-back'></i>
            </div>
        </div>

        <div class="search-container">
            <select id="columnSelector">
                <option value="all">Search All</option>
                <option value="recipe_id">Recipe ID</option>
                <option value="name">Name</option>
                <option value="instructions">Instructions</option>
            </select>
            <input type="text" id="search-Input-recipe" class="search-bar" placeholder="Search Recipe">
            <button id="searchButton">Search</button>
            <button class="openPopup-btn" onclick="openPopup()">Add connection</button>
        </div>

        <table class="recipes-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Instructions</th>
                    <th>Image</th> <!-- Add a new column for the image -->
                    <th>is deleted</th>
                    <th>Account ID </th>
                    <th>Account username </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.recipe_id }}</td>
                    <td>{{ recipe.name }}</td>
                    <td>{{ recipe.instructions }}</td>
                    <td>
                        <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} Image" style="width: 100px; height: 100px;" loading="lazy">
                    </td>
                    <td>{{recipe.is_deleted}}</td>
                    <td>{{recipe.account_id}}</td>
                    <td>{{ recipe.account.username }}</td>

                    <td>
                        <form method="POST" action="{{ url_for('delete_controller.delete_recipe_admin', id=recipe.recipe_id) }}" >
                             <button class="btn btn-danger" title="Delete Recipe" type="submit" onclick="return confirm('Are you sure you want to delete this Recipe?')">Delete</button>
                            <a href="/edit_recipe/{{ recipe.recipe_id }}" class="btn edit-button">Edit</a>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>
    {% endblock %}

</body>
</html>



