<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes display</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipe_display.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img-db/recipes.png') }}" type="image/x-icon">

</head>
<body>
    {% extends 'user_base.html' %}
    {% block title %}Recipes display{% endblock %}
    {% block content %}

    <div class="logo-link">
         <img src="{{ url_for('static', filename='img-db/recipes.png') }}" alt="Your Logo" style="width: 200px; height: 80px;" >
    </div>

    <input type="text" id="searchInput" class="search-bar" placeholder="Search Recipe">

    <ul class="recipe-list">
            {% for recipe in recipes %}
            <li class="recipe-card">
                    <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} Image" style="width: 298px; height: 270px;" loading="lazy">
                    <div class="recipe-details">
                        <h2>{{ recipe.name }}</h2>
                         <a href="{{ url_for('recipe_controller.recipe_instruction', recipe_id=recipe.recipe_id, recipe_name=recipe.name) }}">View Recipe</a>
                    </div>
            </li>
            {% endfor %}
    </ul>

    {% endblock %}
</body>
</html>






