<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instruction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipe_instruction.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='recipes-img-table/recipes.png') }}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
</head>
<body>
    {% extends 'user_base.html' %}
    {% block title %}Recipe Instruction{% endblock %}
    {% block content %}
    <div class="container">
        <div class="recipe-name">
            <p>{{ recipe.name }}</p>
            <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} Image" style="width: 60%; height: 60%;" loading="lazy">
        </div>
        <div class="recipe_instruction">
            <pre class="form-control" id="instructions"  >{{ recipe.instructions }}</pre>
        </div>
    </div>
    <!--  add reviews  -->
    <div class="review-section">
        {% if user %}
            <label for="reviewBtn">Add review and ratings:</label>
            <button id="reviewBtn" onclick="addReview()">Add Review</button>
        {% else %}
            <label for="loginBtn">Add review and ratings:</label>
            <button id="loginBtn" onclick="redirectToLogin()">Login to Add Review</button>
        {% endif %}
    </div>


    <!--  reviews  -->
    <div class="reviews-section">
        {% for review in reviews %}
            <div class="review">
                <div class="review-header">
                    <div class="user-info">
                        {% if review.account.is_deleted %}
                        <div class="user-info deleted-user">
                            <i class='bx bxs-user-circle'></i> {{ review.account.username }}
                        </div>
                        {% else %}
                            <div class="user-info">
                                <i class='bx bxs-user-circle'></i> {{ review.account.username }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="review-details">
                        <div class="review-rating">
                            <div class="star-rating">
                                <div class="stars" style="width: {{ review.rating * 20 }}%;">★★★★★</div>
                            </div>
                        </div>
                        <div class="review-timestamp">
                            {{ review.timestamp.strftime("%B %d, %Y at %I:%M:%S %p") }}
                        </div>
                    </div>
                </div>
                <div class="review-content">
                    {% if review.image_url %}
                        <div class="review-image">
                            <img src="{{ review.image_url }}" alt="images" style="width: 100px; height: 100px;" loading="lazy">
                        </div>
                    {% endif %}
                    <div class="review-text">
                        {{ review.review_text }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- popup add review -->
    <div class="reviewOverlay" id="reviewOverlay" onclick="closeReview()"></div>
    <div class="reviewPopup" id="reviewPopup">

            <form action="{{ url_for('add_controller.add_review', recipe_id=recipe.recipe_id) }}" method="post" enctype="multipart/form-data">

                <div class="review-input">
                    <h1>Submit a Review</h1>
                    <input type="hidden" name="account_id" value="{{ user.id }}">  <!-- Updated user_id to user.id -->
                    <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} Image" style="width: 298px; height: 270px;">
                    <h2> {{ recipe.name }}</h2>
                    <textarea name="review_text" id="review_text" rows="4" cols="50" required></textarea>
                </div>

                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" required><label for="star5"></label>
                    <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
                    <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
                    <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
                    <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
                </div>

                <div class="review-btn">
                    <input type="file" id="image_file" name="image_file" accept="image/*">
                    <button type="submit" onclick="return confirm('Are you sure you want to submit this review?')">Submit Review</button>
                </div>

            </form>

            <div onclick="closeReview()" class="close-btn">
                <i class='bx bx-x'></i>
            </div>
    </div>

    {% endblock %}
  </body>
</html>






