<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared_recipe.css') }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@iconify/all.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="{{ url_for('static', filename='recipes-img-table/recipes.png') }}" type="image/x-icon">
</head>
<body>
{% extends 'user_profile_dashboard.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Shared Recipe</h2>
    <a href="{{ url_for('user_end_controller.user_add_recipe') }}" title="add recipe?">
        <i class='bx bxs-folder-plus bigger-font'></i>add recipe
    </a>
    <div class="row">
        {% for recipe in recipes %}
            {% if user and recipe.account_id == user.id %}
                <div class="col-md-4">
                    <div class="card recipe-card">
                        <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} Image"  style="width: 100%; height: 200px;" loading="lazy">
                        <div class="recipe-card-body">
                            <p class="card-title">{{ recipe.name }}</p>
                            <div class="buttons">

                                <form method="POST" action="{{ url_for('delete_controller.delete_shared_recipe', id=recipe.recipe_id) }}">
                                    <button class="btn btn-danger" title="Delete Recipe" type="submit" onclick="return confirm('Are you sure you want to delete this Recipe?')">Delete</button>
                                    <a href="/user_edit_recipe/{{ recipe.recipe_id }}" class="btn btn-secondary">Edit</a>
                                    <a href="{{ url_for('user_end_controller.recipe_instruction', recipe_id=recipe.recipe_id) }}" class="btn btn-info">View Recipe</a>
                                </form>

                                <a href="{{ url_for('user_end_controller.recipe_instruction', recipe_id=recipe.recipe_id) }}" class="star-new-rating"><i class='bx bxs-star' ></i> Reviews | {{ recipe_reviews_count[recipe.recipe_id] }} Reviews</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif not user %}
                <p>User not logged in Popup</p>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
</body>
</html>