<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Dashboard/base{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_profile_dashboard.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='recipes-img-table/recipes.png') }}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <nav class="sidebar">
        <img src="{{ url_for('static', filename='recipes-img-table/recipes.png') }}" alt="Your Logo" style="width: 200px; height: 80px;">
        <h1><a href="/dashboard" title="go back to dashboard"><i class='bx bx-user' ></i> Hi {{ user.username }}</a></h1>
            <ul>
                <li><a href="" class="ingredients"><i class='bx bxs-heart' ></i> Favorites</a></li>
                <li><a href="{{url_for('user_end_controller.shared_recipe') }}" class="ingredients"><i class='bx bxs-share' ></i> Personal Recipe</a></li>
                <li><a href="/" class="ingredients" title="back to home page"><i class='bx bxs-home-alt-2'></i> Homepage</a></li>
                {% if user and user.type == 'admin' %}
                <li><a href="{{ url_for('dashboard_controller.dashboard') }}" class="ingredients" title="back to home page"><i class='bx bxs-dashboard'></i> admin dashboard</a></li>
                {% endif %}
            </ul>
            <ul class="logout-link">
                <li><a href="{{ url_for('authentication_controller.logout') }}" onclick="return confirm('Are you sure you want to log out?')" title="signout"><i class='bx bx-log-out' ></i> Logout</a></li>
            </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>