<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard/base{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_profile_dashboard.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='raw-image/home.png') }}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="sidebar">
        <div class="logo"></div>
            <ul class="menu">

                <li class="active">
                    <a href="#" title="go back to dashboard">
                        <i class='bx bx-user' ></i>
                        <span>Hi {{ user.username }}</span> 
                    </a>
                </li>

                <li>
                    <a href="{{url_for('user_end_controller.shared_recipe') }}">
                        <i class='bx bxs-share' ></i>
                        <span>Publish Recipe</span>
                    </a>
                </li>

                <li>
                    <a href="{{url_for('user_end_controller.favorites') }}" >
                        <i class='bx bxs-heart' ></i>
                        <span>Favorites</span>
                    </a>
                </li>

                <li>
                    <a href="/" >
                        <i class='bx bxs-home-alt-2'></i>
                        <span>Home Page</span>
                    </a>
                </li>
                {% if user and user.type == 'admin' %}
                <li>
                    <a href="{{ url_for('dashboard_controller.dashboard') }}" >
                        <i class='bx bxs-dashboard'></i>
                        <span>Admin Dashboard</span>
                    </a>
                </li>
                {% endif %}

                <li class="logout">
                    <a href="{{ url_for('authentication_controller.logout') }}" onclick="return confirm('Are you sure you want to log out?')">
                        <i class='bx bx-log-out'></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
    </div>



{% block content %}{% endblock %}
</body>
</html>