{% extends 'user_base.html' %}
{% block title %}Recipes with{% endblock %}
{% block content %}

<div class="logo-link">
    <img src="{{ url_for('static', filename='img-db/recipes.png') }}" alt="Your Logo" style="width: 200px; height: 80px;">
</div>
<input type="text" id="searchInput" class="search-bar" placeholder="Search Recipe">
<ul class="recipe-list">
    {% for recipe in recipes[:5] %} {# This limits to the first 5 recipes #}
    <li class="recipe-card">
        <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} Image" style="width: 298px; height: 270px;">
        <div class="recipe-details">
            <h2>{{ recipe.name }}</h2>
             <a href="{{ url_for('recipe_controller.recipe_instruction', recipe_name=recipe.name) }}" class="view-recipe">View Recipe</a>



        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}

