<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}homepage{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_base.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>

    <header>
        <a href="/" class="logo">Recipes</a>
        <div class="bx bx-menu" id="menu-icon"></div>


        <ul class="navbar">
            <li class="dropdown">
                <a href="ingredient_display" id="ingredients-link">Ingredients</a>
                <div class="dropdown-content">
                  {% for ingredient in ingredients[:7] %}
                  <a href="{{ url_for('user_end_controller.recipe_display', ingredient_id=ingredient.ingredient_id) }}">{{ ingredient.name }}</a>
                  {% endfor %}
                  <a href="/ingredient_display">View All</a>
                </div>
            </li>
            <li><a href="recipe_display" id="recipes-link" title="Recipes">Recipes</a></li>
            <li><a href="about_us" id="about-us-link" title="About Us">About Us</a></li>

            {% if not user %}
              <li><a href="/login" id="login-link" title="Login">Login</a></li>
              <li><a href="/register" id="registration-link" title="Register">Registration</a></li>
            {% elif user %}

            <li class="user-dropdown">
              <a><i class='bx bx-user-circle'></i> Hi {{ user.username }}</a>
              <div class="dropdown-content">
                <a href="{{url_for('user_end_controller.shared_recipe')}}"> Publish Recipe </a>
                <a href="{{url_for('user_end_controller.user_add_recipe')}}"> Add Recipe</a>
                <a href="{{url_for('user_end_controller.favorites')}}"> Favorites</a>
                {% if user and user.type == 'admin' %}
                <a href="{{ url_for('dashboard_controller.dashboard') }}" id="admin-dashboard-link"> Admin Dashboard</a>
                {% endif %}
                <a href="{{ url_for('authentication_controller.logout') }}" onclick="return confirm('Are you sure you want to log out?')"> Logout</a>
              </div>
            </li>
            {% endif %}
        </ul>
    </header>
    {% block content %}
    {% endblock %}
 <script src="{{ url_for('static', filename='js/navBurger.js') }}"></script>

</body>
</html>