body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 4%;
}

main {
    flex: 1;
    max-width: 800px;
    margin: 1% auto 0;
    padding: 20px;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}


/* team */
.team{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.team h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}

.team h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.team .team_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
}
.team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgb(0,0,0,0.5); 
    transition: 0.4s;
}
.team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;
}

.team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgb(0,0,0,0.5); 
    z-index: 2;
    transition: 0.4;
}

.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info{
    top: 60%;
}

.team .team_box .profile .info .name{
    color: #070707;
    margin-bottom: 15px;
}

.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    max-resolution: 0 auto 10px auto;
}
.team .team_box .profile .info .team_icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
    font-size: 50px;
}
.team .team_box .profile .info .team_icon i:hover{
    color: #fac031;

}





footer {
    text-align: center;
}

@media (max-width: 1140px){
    main{
        padding-top:9%;
    }
}


@media (max-width: 720px){
    main{
        padding-top:15%;
    }
}
@media (max-width: 575px){
    main{
        padding-top:15%;
    }
}