
:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}
body{
	background: url('/static/raw-image/Spanish_Chorizo_Stuffed_Chicken_Breast.png') center / cover;
}
.wrapper{
	max-width: 1600px;
	margin: 0 auto;
}

main .box-info {
    list-style-type: none; /* This line removes the bullet points */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}
main .box-info li a{
    padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	text-decoration: none;
}

main .box-info li a .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
main .box-info li:nth-child(2) .bx {
	background: #86e49d;
	color: #006b21;
}

main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}

main .box-info li:nth-child(4) .bx {
	background: #86e49d;
	color: #006b21;
}
main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
main .box-info li .text p {
	color: var(--dark);
}


main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
main .table-data .head .bx {
	cursor: pointer;
}

main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
main .table-data .order table td {
	padding: 16px 0;
}
main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}

.status.approved{
    background-color: #86e49d;
    color: #006b21;
}

.status.pending{
    background-color: #9bedff;
    color: #0000FF;
}
.status.declined{
    background-color: #d893a3;
}


main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
main .table-data .todo .todo-list {
	width: 100%;
}
main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}