html{
    font-size: 62.5%;
}

body{
    margin: 0;
    height: 3000px;
    padding-top: 150px;
}
/* h1 alert start */
h1{
    text-align: center;
    color: red;
    font-size: 50px;
}
/* h1 alert end */ 

/* recipe card section start*/
section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap; /* Allow multiple rows */
    margin-top: 5em;


}
.card{
    position: relative;
    min-width: 32rem;
    min-height: 42rem;
    width: 32rem;
    height: 42rem;
    background-color: #122936;
    border-radius: 2rem;
    overflow: hidden;
}
.card i{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2; /* Add this line */
    color: black;
    font-size: 50px;
}

.card::before{
    content: '';
    position: absolute;
    top: -50%;
    height: 100%;
    width: 100%;
    background-color: orange;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover:before{
    top: -70%;
    transform: skewY(390deg);

}
.card::after{
    content: 'Recipe';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0,0,0,0.1);
}

.card .imgbx{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    z-index: 1;
}

.card .imgbx img {
    width: 30rem;
    height: 30rem; /* Adjust this value to maintain the desired aspect ratio */
    object-fit: cover; /* This property ensures the image covers the entire container */
    transition: 0.5s;
    border-radius: 50%;
}


.card:hover .imgbx img {
    width: 17.5rem;
    height: 17.5rem;
}
.card .contentbx{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.card .contentbx h3{
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentbx .view-recipe{
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    font-size: 20px;
}

.card:hover .contentbx .view-recipe{
    top: 0;
    opacity: 1;
}

.card .contentbx .reviews{
    color: yellow;
    text-decoration: none;
    font-size: 15px;
    margin-top: 1em;
}
/* recipe card section end*/
.card i.bx-heart-circle:hover {
    color: #c0392b;
}
.search-bar {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 1%;
}


@media screen and (max-width: 1140px) {
    .search-bar {
        width: 80%;
    }

    .card {
        width: 40%;
        margin: 20px auto;
    }

    .logo-link {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 720px) {
    .search-bar {
        width: 80%;
    }

    .card {
        width: 40%;
        margin: 20px auto;
    }

    .logo-link {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

@media (max-width: 575px){
    .search-bar {
        width: 80%;
    }

    .card {
        width: 80%;
        margin: 20px auto;
    }

    .logo-link {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}