*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background: url('/static/raw-image/Spanish_Chorizo_Stuffed_Chicken_Breast.png') center / cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

main.table{
    width: 85vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0085;
    border-radius: .8rem;
    overflow: hidden;
    
}

.table-header{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}

.table-body{
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    
}
.table-body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.table-body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
table{
    width: 100%;
}

td img{
    width: 67px;
    height: 67px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table, th, td{
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th{
    content: "";
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover{
    background-color: #fff6;
}

.status{
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.approved{
    background-color: #86e49d;
    color: #006b21;
}

.status.pending{
    background-color: #9bedff;
    color: #0000FF;
}
.status.declined{
    background-color: #d893a3;
}
.table-body h1{
    text-align: center;
    color: red;
    font-size: 50px;
}

.table-body td {
    font-size: 12px; /* adjust as needed */
}
.table-body td a{
    text-decoration: none;
    color: black;
}



/* popup add */
.text-area-form {
    width: 100%;  /* Fixed width */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;  /* Allow vertical resize only */
}
.name-form {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.Overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.Popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 58%;
    height: auto;  /* Change this */
    max-height: 90%;  /* Add this */
    overflow-y: auto;  /* Add this */
}
.close-btn{
	position: absolute;
	top: 0;
	right: 10px;
}

.close-btn i {
    font-size: 44px;
}

.refresh-button{
    padding: 5px 10px;
    background-color: #39e75f;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 1%;
}
.openPopup-btn{
    padding: 5px 10px;
    background-color: #2F539B;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 1%;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 500px;

}

#columnSelector {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}


.action-btn {
    display: flex;
}

.btn {
    cursor: pointer;
    border: none;
    padding: 10px;
    margin: 0 5px;
    font-size: 16px;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border-radius: 1rem;
}

.edit-button {
    background-color: #007bff;
    color: #fff;
    border-radius: 1rem;

}

/* Optional: Add hover effects */
.btn:hover {
    opacity: 0.8;
}

.delete-btn:hover {
    background-color: #c82333;
}
.mass-action{
    position: absolute;
    left: 1;
}
.recover-recipe-btn{
    background-color: #69d84f;
    border-radius:1rem;
}
.checkbox {
    transform: scale(1.5);
}

.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    margin-left: auto;
    margin-right: auto;
    
}

.btn-img div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn button{
    color: white;
    background-color: #2fc955;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
.btn-img i {
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;  /* Adjust as needed */
}

.add-btn button:hover{
    background-color: #86e49d;
}

